<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.andnana.dao.InfoMapper">
  <!--
  <resultMap id="BaseResultMap" type="top.andnana.entity.Info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="info_date" jdbcType="TIMESTAMP" property="infoDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.andnana.entity.Info">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, pic_name, info_date
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="top.andnana.entity.InfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="top.andnana.entity.InfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.andnana.entity.InfoExample">
    delete from info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.andnana.entity.Info">
    insert into info (id, title, pic_name, 
      info_date, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{picName,jdbcType=VARCHAR}, 
      #{infoDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.andnana.entity.Info">
    insert into info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="picName != null">
        pic_name,
      </if>
      <if test="infoDate != null">
        info_date,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="infoDate != null">
        #{infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.andnana.entity.InfoExample" resultType="java.lang.Long">
    select count(*) from info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.picName != null">
        pic_name = #{record.picName,jdbcType=VARCHAR},
      </if>
      <if test="record.infoDate != null">
        info_date = #{record.infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update info
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      pic_name = #{record.picName,jdbcType=VARCHAR},
      info_date = #{record.infoDate,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update info
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      pic_name = #{record.picName,jdbcType=VARCHAR},
      info_date = #{record.infoDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.andnana.entity.Info">
    update info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picName != null">
        pic_name = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="infoDate != null">
        info_date = #{infoDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="top.andnana.entity.Info">
    update info
    set title = #{title,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      info_date = #{infoDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.andnana.entity.Info">
    update info
    set title = #{title,jdbcType=VARCHAR},
      pic_name = #{picName,jdbcType=VARCHAR},
      info_date = #{infoDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  -->
  <resultMap id="BaseResultMap" type="top.andnana.entity.Info">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pic_name" jdbcType="VARCHAR" property="picName" />
    <result column="info_date" jdbcType="TIMESTAMP" property="infoDate" />
    <association property="category" select="top.andnana.dao.CategoryMapper.selectByPrimaryKey" column="cate_id">

    </association>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="top.andnana.entity.Info">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <resultMap extends="ResultMapWithBLOBs" id="ResultMapWithLabelList" type="top.andnana.entity.Info">

    <association property="category" select="top.andnana.dao.CategoryMapper.selectByPrimaryKey" column="cate_id">

    </association>

    <collection property="labelList" select="top.andnana.dao.LabelMapper.selectByInfoId" column="id" />
  </resultMap>
  <sql id="Blob_Column_List">
    content
  </sql>
  <sql id="Base_Column_List">
    id, title, pic_name, info_date, cate_id
  </sql>

  <select id="selectByCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from info
    where cate_id = #{cateid,jdbcType=INTEGER}
  </select>

  <select id="selectByTitle" parameterType="java.lang.String" resultType="top.andnana.entity.Info">
    select <include refid="Base_Column_List" />,
    <include refid="Blob_Column_List" />
    from info
    where title = #{param1,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithLabelList">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertInfo" useGeneratedKeys="true" keyProperty="id">
    insert into info( <include refid="Base_Column_List" /> ,<include refid="Blob_Column_List" /> ) values(null, #{title}, #{picName}, #{infoDate}, #{category.id}, #{content})
  </insert>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />

     from info
  </select>
</mapper>