@charset "utf-8";
/* CSS Document */
* {margin:0px;padding:0px}
/*.row{*/
	/*margin-right: 0px;*/
	/*margin-left: 0px;*/
/*}*/
body{
	background-color: #e2e1dd;

	}
div{
		font-family:Verdana, Geneva, sans-serif;
		
		}


 /*ul {*/
	/*list-style-type:none;					*/
    /*margin:0px;*/
	/*padding:0px;*/
	/**/
/*}*/






#container{
	
	position:relative;
	/*width:1000px;*/
	margin:auto;
	text-align:center;
	/*left:50%;*/
	/*margin-left:-500px;*/
	background-color: white;



}


	
	#content{
		/*margin:auto auto;*/
		display: -moz-box;
		display: -webkit-box;
		display: -ms-flexbox;


	}

#category{
		width: 200px;
		padding-top: 20px;
		padding-left: 5px;
		padding-right: 5px;
	    background-color:#f8f8f7;
	    text-align: left;
	}
/*#category ul{*/
	/*width: 200px;*/
	/*padding: 0px;*/
	/*margin:0px;*/
	/*margin-top: 10px;*/


/*}*/

/*#searchbar{*/
	/*display: flex;*/
	/*justify-content: space-between;*/
/*}*/
/*#info-detail button{
	display: inline-block;
	margin:0;
	padding:5px;
	list-style-type:none;
	background:none;
	border:none;
	background-color: inherit;

	color: #000000;
}*/
/*#searchbar input{*/
	/*display: inline-block;*/
/*}*/
/*#category ul li{*/
	/*margin: 0px;*/
	/*height: 25px;*/
	/*font-size:14px;*/
	/*line-height: 25px;*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*display: block;*/
	/*border-top: #ffffff solid 2px;*/
	/*border-bottom: #ffffff solid 2px;*/
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	/*background: url("../images/xx.jpg") no-repeat left center;*/
/*}*/
/*#category ul li a{*/
	/*display: block;*/
	/*text-decoration:none;*/
	/*color: white;*/
/*}*/
/*.bgcolor-white{*/
	/*background-color: white;*/
/*}*/
/*.bgcolor-black{*/
	/*background-color: black;*/
/*}*/
/*.color-white{*/
	/*color: white;*/
/*}*/
/*.color-black{*/
	/*color: black !important;*/
/*}*/
#main{
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	background-color: white;
	text-align: left;

}
#category, #main {
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

	/*.text p{*/
		/*text-align:left;*/
		/*line-height:25px;*/
		/*text-indent:30px;*/
		/*padding:0px 25px 0px 25px	;*/
	/*}*/
	/*.text{*/
		/*height:150px;*/
		/*padding-top:15px;*/
		/*font-size:12px;*/
		/*color:#747679;*/
	/*}*/








	  #detail{
		/*margin:15px;*/
	  }

		.index-img-info{
			/*padding:5px;*/
			/*margin:5px;*/
			/*font-size:12px;*/
			/*color:#747679;*/
		}


	/*.nav a*/

	/*{	*/
		/**/
		/*font-size:14px;*/

		/*background-color:#ced4dd;*/
		/*border:1px solid yellow;*/
		/**/
		/*color:white;*/
		/*width:50px;*/
		/*height:20px;*/
		/*padding:5px;*/
		/*margin-left:15px;*/
		/*line-height:20px;*/
		/*display: inline-block;*/
	/*}*/
	/*.nav ul{*/
		/*display: flex;*/
		/*justify-content: flex-end;*/
		/*padding:15px;*/
		/*//float:right;*/
		/*padding-right:100px;*/
	/*}*/
	/*.nav li{*/
		/*display:inline-block;*/
	/*}*/
	/*.nav {*/
		/*//	height:30px;*/
		/*//width:700px;*/
		/*text-align:center;*/
		/*line-height:20px;*/
		/*margin:auto;*/
		/*text-align:center;*/
		/*background-color:#2f2f2f;*/
	/*}*/
	/**/
	/*.nav ul li a:link, .nav ul li a:visited{*/
		/*text-decoration:none;*/
		/*color:#ffffff;*/
	/*}*/

	

