<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">
       <!-- 配置用户 -->

       <security:authentication-manager>
              <security:authentication-provider>
                     <security:user-service>
                            <security:user name="andnana" authorities="ROLE_user,ROLE_admin" password="andnana"/>
                     </security:user-service>
              </security:authentication-provider>

       </security:authentication-manager>

       <security:http auto-config="true">
              <security:intercept-url pattern="/home.html" access="hasAnyRole('ROLE_user','ROLE_admin')"/>
       </security:http>

</beans>